// Variables
@import "variables";


// Header
header{
    display: block;
    width: 100%;
    background-image: url(/site_img/header.png);
    background-size: auto 100%;
    background-position: 100% 20%;
}

.social-icons{
    float: right;
    margin: 20px 30px;
    width: 100%;
    max-width: 300px;
    height: 32px;
    float: right;
    display: flex;
    justify-content: space-around;
    &-unit{
        width: 32px;
        background-size: contain;
        
    }
    &-unit1{ background-image: url(/site_img/social-icon1.png); }
    &-unit2{ background-image: url(/site_img/social-icon2.png); }
    &-unit3{ background-image: url(/site_img/social-icon3.png); }
    &-unit4{ background-image: url(/site_img/social-icon4.png); }
}

.header-logo{
    display: block ;
    margin: 20px 30px;
    width: 100%;
    max-width: 250px;
    height: auto;
    float: right;
}

.header-title{
    text-align: center;
    max-width: 570px;
    width: 90%;
    &-first{
        @include text(48px, $third-text-color, 60px);
        font-weight: 700;
        margin: 40px 30px 30px;
    }
    &-second{
        @include text(34px, $third-text-color, 40px);
        margin: 0 30px 30px;
        a, a:hover{
            color: $first-text-color;
        }
    }
}

.header-main{
    width: 90%;
    margin: 0 30px 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 240px !important;
    p{
        text-indent: 20px;
        margin-bottom: 0;
        @include text(14px, $first-text-color, 20px);
    }
    p:last-child{
        margin-bottom: 0;
    }
}

.header-slogan{
    display: block;
    width: 100%;
    padding: 40px 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: $first-text-color;
    background-color: $container-color;
    span{
        display: inline-block;
    }
}

@media (max-width: 940px){
    
}