@import "variables";


.program21{
    display: block;
    width: 90%;
    margin: 60px auto 100px !important;
    background-color: $container-color;
    padding: 0 0 30px;
    &-main{
        width: 100%;
        padding: 0;
        margin: 0 !important;
    }
    &-first, &-fourth{
        height: auto;
        padding: 20px 20px 30px 20px;
    }
    &-img{
        width: 100%;
    }
    &-second, &-third{         
        padding: 20px 20px 30px 20px;
        p{
            @include text(18px, $first-text-color, 20px);
            margin-bottom: 15px;
        }
        p:last-child{
            margin-bottom: 0;
        }
        p:first-child{
            margin-top: 0;
        }
        .title{
            font-weight: 700;
            color: $second-text-color;
            margin: 30px 0 30px 20px;
        }
        .title-big{
            font-weight: 900;
            color: $first-text-color;
            margin: 40px 0 40px 20px;
            .bright{
                color: $bright-text-color;
                font-weight: 700;
            }
        }
    }
    &-second{
        p{
            text-indent: 20px;
            margin-bottom: 20px;
        }
        .title{
            @include text(24px, $second-text-color, 29px);
            font-weight: 700;
        }
    }
    &-third{
        p{
            margin-left: 20px;
        }
        .button{
            display: block;
            width: 100%;
            max-width: 280px;
            height: auto;
            background: $button-color;
            box-shadow: 0px 2px 0px #B4E2F1;
            border-radius: 30px;
            text-align: center;
            text-decoration: none;
            @include text(18px, $first-text-color, 40px);
            &:hover{
                color: $first-text-color;
            }
        }
    }
}